/*Horizontal navigation*/
#nav .moduletable h3{display:none}
#nav .moduletable{margin:0;padding:0}
#nav{width:100%;height:35px;float:left;background:#AF0505;margin:0;padding:0;border-top:2px solid #fff;border-bottom:2px solid #fff}
#nav ul{list-style-type:none;text-align:left;float:left;margin:0;padding:0}
#nav ul li{float:left;border:none;height:35px;line-height:35px;margin:0;padding:0}
#nav ul li a{text-decoration:none;display:block;font:bold 12px/35px verdana,arial,helvetica,clean,sans-serif;color:#fff;background:#AF0505;margin:0;padding:0 15px}
#nav ul li.active a{background-image:none;background-color:#000;color:#fff}
#nav ul li a:hover{background-image:none;background-color:#202020;color:#fff}
/*Level 2*/
#nav ul ul{position:absolute;width:180px;left:-999em;z-index:99;margin:0}
#nav ul ul li{float:left;border:none;height:30px;line-height:30px;margin:0;padding:0}
#nav ul ul li a,#nav ul ul li a:visited,#nav ul ul li a:active,#nav ul ul li a:link{width:180px;font:normal 12px Helvetica,Arial,sans-serif;height:30px;line-height:30px;background:#000;color:#666;text-transform:none;border:1px solid #1B1B1B}
#nav ul ul li a:hover{background:#058acf;color:#fff}
#nav ul ul li.active a{background:#058acf;color:#fff}
/*Level 3*/
#nav ul ul ul{margin:-30px 0 0 210px;z-index:99}
#nav ul ul ul li{float:left;border:none;height:30px;line-height:30px;margin:0;padding:0}
#nav ul ul ul li a,#nav ul ul ul li a:visited,#nav ul ul ul li a:active,#nav ul ul ul li a:link{width:180px;font:normal 12px Helvetica,Arial,sans-serif;height:30px;line-height:30px;background:#000;color:#666;text-transform:none;border:1px solid #1B1B1B}
#nav ul ul ul li a:hover{background:#058acf;color:#fff}
#nav ul ul ul li.active a{background:#058acf;color:#fff}
/*Level 4*/
#nav ul ul ul ul{margin:-30px 0 0 210px;z-index:99}
#nav ul ul ul ul li{float:left;border:none;height:30px;line-height:30px;margin:0;padding:0}
#nav ul ul ul ul li a,#nav ul ul ul ul li a:visited,#nav ul ul ul ul li a:active,#nav ul ul ul ul li a:link{width:180px;font:normal 12px Helvetica,Arial,sans-serif;height:30px;line-height:30px;background:#000;color:#666;text-transform:none;border:1px solid #1B1B1B}
#nav ul ul ul ul li a:hover{background:#058acf;color:#fff}
#nav ul ul ul ul li.active a{background:#058acf;color:#fff}
/*Level 5*/
#nav ul ul ul ul ul{margin:-30px 0 0 210px;z-index:99}
#nav ul ul ul ul ul li{float:left;border:none;height:30px;line-height:30px;margin:0;padding:0}
#nav ul ul ul ul ul li a,#nav ul ul ul ul ul li a:visited,#nav ul ul ul ul ul li a:active,#nav ul ul ul ul ul li a:link{width:180px;font:normal 12px Helvetica,Arial,sans-serif;height:30px;line-height:30px;background:#000;color:#666;text-transform:none;border:1px solid #1B1B1B}
#nav ul ul ul ul ul li a:hover{background:#058acf;color:#fff}
#nav ul ul ul ul ul li.active a{background:#058acf;color:#fff}
#nav li:hover ul ul,#nav li:hover ul ul ul,#nav li:hover ul ul ul ul,#nav li:hover ul ul ul ul ul,#nav li:hover ul ul ul ul ul ul,#nav li.sfhover ul ul,#nav li.sfhover ul ul ul,#nav li.sfhover ul ul ul ul,#nav li.sfhover ul ul ul ul ul,#nav li.sfhover ul ul ul ul ul ul{left:-999em}
#nav li:hover ul,#nav li li:hover ul,#nav li li li:hover ul,#nav li li li li:hover ul,#nav li li li li li:hover ul,#nav li li li li li li:hover ul,#nav li.sfhover ul,#nav li li.sfhover ul,#nav li li li.sfhover ul,#nav li li li li.sfhover ul,#nav li li li li li.sfhover ul,#nav li li li li li li.sfhover ul{left:auto}
/*Top Navigation*/
#top-menu{width:auto;height:auto;float:right;margin-top:10px;margin-right:10px}
#top-menu .moduletable h3{display:none}
#top-menu .moduletable{margin:0;padding:0}
#top-menu ul{list-style-type:none;text-align:left;float:left;margin:0;padding:0}
#top-menu li{float:left;border:none;margin:0;padding:0}
#top-menu a{font-size:11px;text-decoration:none;color:#d3d3d3;margin:0;padding:0 6px}
#top-menu a:hover,#top-menu li.active a{color:#fff}
/*Footer Navigation*/
#footer-nav .moduletable h3{display:none}
#footer-nav .moduletable{margin:0;padding:0}
#footer-nav ul{list-style-type:none;text-align:center;padding:0;margin:0 0 5px 0}
#footer-nav li{background:none;padding:0;display:inline}
#footer-nav a{text-align:center;font-size:11px;font-weight:bold;text-decoration:none;color:#7b0404;display:inline;margin:0;padding:0 8px}
#footer-nav a:hover,#footer-nav li.active a{color:#610202}
/*Module style*/
.module{margin:0}
.module .inside{padding:0 10px}
.module h3{color:#A0B62D;text-align:left;margin:0;height:30px;font-size:16px;line-height:30px;padding:0 10px}
.module #h3-l{width:100%;height:30px;background:url(../images/h3-l.png) no-repeat top left}
.module #h3-m{width:100%;height:30px;background:url(../images/h3-m.png) repeat-x}
.module #h3-r{width:100%;height:30px;background:url(../images/h3-r.png) no-repeat top right}
.module #tl{width:100%;height:10px;background:url(../images/module_tl.png) no-repeat top left}
.module #tr{width:100%;height:10px;background:url(../images/module_tr.png) top right}
.module #bl{width:100%;height:10px;background:url(../images/module_bl.png) no-repeat top left}
.module #br{width:100%;height:10px;background:url(../images/module_br.png) top right}
.module #mid{width:auto;height:auto;background:#EBECED;border-right:1px solid #ccc;border-left:1px solid #ccc}
.module ul{list-style:none}
.module li{font-size:14px}
.module li a:link,.module li a:visited{padding:6px 10px;border-bottom:1px solid #ccc;margin:0 -10px;color:#363636;text-decoration:none;display:block}
.module li a:hover,.module li.active a{text-decoration:none;color:#404040}
/*Module Menu*/
.module_menu{margin:0}
.module_menu .inside{padding:0 10px}
.module_menu h3{color:#A0B62D;text-align:left;margin:0;height:30px;font-size:16px;line-height:30px;padding:0 10px}
.module_menu #h3-l{width:100%;height:30px;background:url(../images/h3-l.png) no-repeat top left}
.module_menu #h3-m{width:100%;height:30px;background:url(../images/h3-m.png) repeat-x}
.module_menu #h3-r{width:100%;height:30px;background:url(../images/h3-r.png) no-repeat top right}
.module_menu #tl{width:100%;height:10px;background:url(../images/module_tl.png) no-repeat top left}
.module_menu #tr{width:100%;height:10px;background:url(../images/module_tr.png) top right}
.module_menu #bl{width:100%;height:10px;background:url(../images/module_bl.png) no-repeat top left}
.module_menu #br{width:100%;height:10px;background:url(../images/module_br.png) top right}
.module_menu #mid{width:auto;height:auto;background:#EBECED;border-right:1px solid #ccc;border-left:1px solid #ccc}
.module_menu ul{list-style:none}
.module_menu li{font-size:14px}
.module_menu li a:link,.module_menu li a:visited{padding:6px 10px;border-bottom:1px solid #ccc;margin:0 -10px;background:#EBECED;color:#363636;text-decoration:none;display:block}
.module_menu li a:hover,.module_menu li.active a{background:#F7F7F7;text-decoration:none;color:#404040}
/*Advertisement*/
.module_text{margin:0}
.module_text .inside{padding:0 10px}
.module_text h3{color:#A0B62D;text-align:left;margin:0;height:30px;font-size:16px;line-height:30px;padding:0 10px}
.module_text #h3-l{width:100%;height:30px;background:url(../images/h3-l.png) no-repeat top left}
.module_text #h3-m{width:100%;height:30px;background:url(../images/h3-m.png) repeat-x}
.module_text #h3-r{width:100%;height:30px;background:url(../images/h3-r.png) no-repeat top right}
.module_text #tl{width:100%;height:10px;background:url(../images/module_tl.png) no-repeat top left}
.module_text #tr{width:100%;height:10px;background:url(../images/module_tr.png) top right}
.module_text #bl{width:100%;height:10px;background:url(../images/module_bl.png) no-repeat top left}
.module_text #br{width:100%;height:10px;background:url(../images/module_br.png) top right}
.module_text #mid{width:auto;height:auto;background:#EBECED;border-right:1px solid #ccc;border-left:1px solid #ccc}
.module_text ul{list-style:none}
.module_text li{font-size:14px}
.module_text li a:link,.module_text li a:visited{padding:6px 10px;border-bottom:1px solid #ccc;margin:0 -10px;background:#EBECED;color:#363636;text-decoration:none;display:block}
.module_text li a:hover,.module_text li.active a{background:#F7F7F7;text-decoration:none;color:#404040}
